
{{#each articles}}

<div id="{{this._id}}" class="article">
  <p>
    <a href="{{this.link}}" target="_blank">{{this.title}}</a>
    <div>{{this.summary}}</div>
    <button data-id="{{this._id}}" class="btn btn-note px-1 py-0 m-1">+ notes</button>
  </p>
  <div id="notes-{{this._id}}"></div>
</div>

{{/each}}